audioread==3.0.1
bottleneck
brotli
certifi
cffi==1.17.1
charset-normalizer
contourpy
cycler
decorator==5.2.1
filelock
flask
fonttools
fsspec==2025.3.2
gmpy2
idna==3.10
importlib-resources
Jinja2
joblib
kiwisolver
lazy_loader==0.4
librosa>=0.10.0
llvmlite==0.43.0
MarkupSafe
matplotlib==3.9.2
mpmath
msgpack==1.1.0
networkx
numba==0.60.0
numexpr
numpy==2.0.2
packaging
pandas==2.2.3
pillow
platformdirs==4.3.7
pooch==1.8.2
pycparser==2.22
pyparsing
PySocks
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy==1.13.1
six
soundfile==0.13.1
soxr==0.5.0.post1
streamlit
sympy
threadpoolctl
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado
tqdm==4.67.1
typing-extensions
tzdata
unicodedata2
